.fade-out {
  transition: 0.5s;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes example {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
:root {
  --border-size: 1px;
}

.running-borders-bt::before,
.running-borders-bt::after,
.running-borders-lr::before,
.running-borders-lr::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: linear-gradient(to right, #b891ff, #e45f6b, #f99f35);
  transition: 0.4s;
  pointer-events: none;
}

/* Bottom top */
.running-borders-bt::before,
.running-borders-bt::after {
  width: 100%;
}

.running-borders-bt::before {
  top: 0;
  transform: translateX(-100%);
}

.running-borders-bt::after {
  bottom: 0;
  transform: translateX(100%);
}

.running-borders-bt:hover:before {
  height: var(--border-size);
  animation: expand-then-shrink-left 0.5s;
}

.running-borders-bt:hover:after {
  height: var(--border-size);
  animation: expand-then-shrink-right 0.5s;
}

/* left right */
.running-borders-lr::before,
.running-borders-lr::after {
  height: 100%;
}

.filter-selected {
  transition: border 0.3s;
  border: 1.5px solid #b891ff;
}

.running-borders-lr::before {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.running-borders-lr::after {
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

.running-borders-lr:hover:before {
  width: var(--border-size);
  animation: expand-then-shrink-top 1s;
}

.running-borders-lr:hover:after {
  width: var(--border-size);
  animation: expand-then-shrink-bottom 1s;
}

/* Hover focus animation*/
@keyframes expand-then-shrink-left {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes expand-then-shrink-right {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes expand-then-shrink-top {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes expand-then-shrink-bottom {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Sidenav stuff */

@media only screen and (min-width: 768px) {
  .sidebar-opened {
    width: 400px;
    max-width: 80vw;
    opacity: 1;
  }
  .sidebar-closed {
    width: 40px;
    opacity: 0.4;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar-opened {
    width: 400px;
    max-width: 100vw;
    opacity: 1;
  }
  .sidebar-closed {
    width: 14px;
    opacity: 0.4;
  }
}

.sidebar-inview {
  border-right-color: #b891ff !important;
}
